<main class="app-content">

<section class="hero section is-hero is-warning">
  <div class="container">
    <div class="columns is-vcentered">
      <div class="column is-6 is-5-fullhd is-offset-1-fullhd">
        <div class="section-header">
          <h2 class="title is-2 is-spaced">성공적으로 입력되었습니다.<span
                                        class="spacer is-horizontal is-05"></span>
          </h2>
          <h2 class="subtitle is-5">등록과정중 궁금하신 부분은 언제든 연락주세요. 리피</h2>
          <!-- <div class="field is-grouped">
            <div class="control"> <a class="button is-white is-medium"
                                            href="https://getbedtimestories.com/school">🎓 Explore our courses</a>
            </div>
          </div> -->
        </div>
      </div>
      <!-- <div class="column is-6">
        <div class="section-media"> <img class="full-width" role="presentation"
                                    src="./Bedtime Stories - Exciting Tales for Young &amp; Old – Bedtime Stories_files/school-933bc224.svg">
          <p> <small>Join our Storytelling School for Families.</small> </p>
        </div>
      </div> -->
    </div>
  </div>
</section>


<section class="hero section is-hero">
  <div class="container">
    <div class="columns is-vcentered">
      <div class="column is-12 is-10-fullhd is-offset-1-fullhd">
        <div class="is-size-5">
            <section class="wrapper style5">
                <div class="">
                    <br>
                    <div class="hello"><i class="fa fa-university"></i> 앞으로 진행되는 순서 </div>
                    <div class="is-size-6" style="line-height: 1.4">
                      <br/>
                      <p style="line-height: 1.4">
                        <h2><i class="fa fa-graduation-cap"></i> 진행시에 궁금한 점은 언제든지 연락주세요. </h2>
                        <br/>
                        <i class="fa fa-caret-right"></i> 해당 정보를 가지고, 어학기관의 담당자와 가장 좋은 조건으로 진행할수 있도록 미팅을 진행합니다.<br />
                        <i class="fa fa-caret-right"></i> 미팅이후 인보이스를 발급 받습니다.<br />
                        <i class="fa fa-caret-right"></i> 발급된 인보이스를 회원님께 보내드립니다. 가격을 확인하시고 비교하실 수 있습니다.<br />
                        <i class="fa fa-caret-right"></i> 해외송금을 진행합니다. <br />
                        <i class="fa fa-caret-right"></i> 송금이 확인이 되면, 스쿨레터와 해당서류를 발급해 드리고, 나머지 진행을 같이 도와드립니다. <br />
                      </p>
                      <br>
                      <%= link_to '🇨🇮 홈으로 돌아가기', root_path, :class => "button is-primary" %>
                    </div>
                </div>
            </section>
        </div>
      </div>
     <!--  <div class="column is-6">
        <div class="section-media"> 
          <p> <small>Join our Storytelling School for Families.</small> </p>
        </div>
      </div> -->
    </div>
  </div>
</section>




</main>