<main class="app-content">
  <section class="hero section is-hero is-info">
    <div class="container">
      <div class="columns is-vcentered">
        <div class="column is-12 is-5-fullhd is-offset-1-fullhd">
          <div class="section-header">
            <h2 class="title is-2 is-spaced">상담신청<span
                                        class="spacer is-horizontal is-05"></span>
            </h2>
            <h2 class="subtitle is-5">기입하신 정보는 상담이외의 목적으로 사용되지 않습니다. 데이터 베이스에 저장 되지도 않습니다.
              모든 항목을 기재하지 않으셔도 됩니다.
              이메일 항목은 반드시 기재하여주시고,
              24시간 이내로 피드백을 받지 못하셨다면 연락주시기 바랍니다.</h2>
            <div class="field is-grouped">
             <!--  <div class="control"> <a class="button is-white is-medium"
                                            href="https://getbedtimestories.com/school">🎓 Explore our courses</a>
              </div> -->
            </div>
          </div>
        </div>
        <!--  <div class="column is-6">
            <div class="section-media">
            </div>
        </div> -->
      </div>
    </div>
  </section>
  <section class="hero section is-hero">
    <div class="container">
      <div class="columns is-vcentered">
        <div class="column is-12 is-10-fullhd is-offset-1-fullhd">
          <!-- <h5 class="is-size-4"><i class="fa fa-university"></i> 리피의 아일랜드 상담신청서</h5> 
          <br><br> -->
          <h2 class="is-size-5"><i class="fa fa-graduation-cap"></i> 작성시 참고사항</h2>
          <br><br>
          <div>
            <p class="is-size-6" style="line-height: 1.4">
            <i class="fa fa-caret-right"></i> 아일랜드에만 80여개가 넘는 어학연수 기관이 운영중입니다.
            모든곳들이 좋은 교육기관이라고 말씀드릴수 없지만, 자신이 어학원 으로 부터 바라는 부분, 기준들이 어떤것인지 정확히 안다면 좋은조건으로 연수를 진행할수 있습니다.<br />
            <i class="fa fa-caret-right"></i> 리피의 아일랜드는 아일랜드내, 모든 어학연수 기관의 등록이 가능합니다. <br />
            <i class="fa fa-caret-right"></i> 어학원 추천은 심층상담후, 상담자에게 적합한 연수기관(어학원)을 원하실때 한해서 추천드리고 있습니다.
            상담란에 연수와 관련하여 구체적으로 알고 싶은점들을 표기하셔야, 심도있는 피드백을 받으실수 있다는 점도 알려드립니다. 단순한 질문에는 단순한 답변을 받게 되실것입니다.<br />
            <i class="fa fa-caret-right"></i> ex. 왜 어학연수를 가려고 하는지? 어학연수로 얻고싶은 점은 무엇인지? 자신의 현재 경제적 상황은 어떤지? 영어 스피킹과 리스닝 실력은 어느수준인지? 등과 함께 현재자신에게 무엇이 필요한지, 상담으로 피드백 받고 싶은 부분이 어떤부분인지 구체적으로 상담주시기 바랍니다
            <br />
            </p>
          </div>
          
        </div>
      </div>
      <div class="column is-12 is-6-fullhd is-offset-1-fullhd"" style="line-height: 1.4">
          <form id="formaction" method="POST">

            <input class="input margin-bottom-small" type="hidden" name="_next" value="http://liffeyireland.com/thanks/"  />
            <input class="input margin-bottom-small" type="text" name="_gotcha" style="display:none" />


            <input class="input margin-bottom-small" type="text" name="name" placeholder="이름" />
            <input class="input margin-bottom-small" type="email" name="email" placeholder="이메일" />
            <input class="input margin-bottom-small" type="text" name="kakaotalk" placeholder="카톡아이디" />
            <input class="input margin-bottom-small" type="text" name="sex" placeholder="성별" />
            <input class="input margin-bottom-small" type="text" name="tel" placeholder="연락처" />
            <input class="input margin-bottom-small" type="text" name="ocupation" placeholder="직업" />
            <input class="input margin-bottom-small" type="text" name="mbti" placeholder="MBTI타입" />
            <input class="input margin-bottom-small" type="text" name="interest" placeholder="취미 혹은 흥미" />
            <input class="input margin-bottom-small" type="text" name="timeToStudy" placeholder="예상연수시기 (ex. 20xx 년 3월)" />
            <input class="input margin-bottom-small" type="text" name="durationOfStudy" placeholder="예상연수기간 (ex. 6개월)" />
            <input class="input margin-bottom-small" type="text" name="levelOfEnglish" placeholder="현재 자신의 영어실력 (ex. 상.중.하)" />
            <input class="input margin-bottom-small" type="text" name="priceOfSchool" placeholder="진학을 원하는 어학원의 가격대 (ex. 상.중.하)" />
            <input class="input margin-bottom-small" type="text" name="nameOfSchool" placeholder="관심있는 어학원의 이름" />
            <textarea class="textarea margin-bottom-small" rows="10" name="message" placeholder="상담내용 (ex. 왜 어학연수를 가려고 하는지? 어학연수로 얻고싶은 점은 무엇인지? 자신의 현재 경제적 상황은 어떤지? 영어 스피킹과 리스닝 실력은 어느수준인지? 등과 함께 현재자신에게 무엇이 필요한지, 상담으로 피드백 받고 싶은 부분이 어떤부분인지 구체적으로 상담주시기 바랍니다)"></textarea>
            <button type="submit" class="button is-black">보내기</button>
          </form>
        </div>
    </div>
  </section>
  <script>
      var contactform =  document.getElementById('formaction');
      contactform.setAttribute('action', '//formspree.io/' + 'liffeydublin' + '@' + 'naver' + '.' + 'com');
  </script>

</main>