<main class="app-content">

<section class="hero section is-hero is-danger">
  <div class="container">
    <div class="columns is-vcentered">
      <div class="column is-6 is-5-fullhd is-offset-1-fullhd">
        <div class="section-header">
          <h2 class="title is-2 is-spaced">가입절차<span
                                        class="spacer is-horizontal is-05"></span>
          </h2>
          <h2 class="subtitle is-5">리피의 아일랜드는 회원제로 운영하고 있습니다. 텍스트 상담은 가입없이 무료로 하실수 있습니다.</h2>
          <!-- <div class="field is-grouped">
            <div class="control"> <a class="button is-white is-medium"
                                            href="https://getbedtimestories.com/school">🎓 Explore our courses</a>
            </div>
          </div> -->
        </div>
      </div>
      <!-- <div class="column is-6">
        <div class="section-media"> <img class="full-width" role="presentation"
                                    src="./Bedtime Stories - Exciting Tales for Young &amp; Old – Bedtime Stories_files/school-933bc224.svg">
          <p> <small>Join our Storytelling School for Families.</small> </p>
        </div>
      </div> -->
    </div>
  </div>
</section>


<section class="hero section is-hero">
  <div class="container">
    <div class="columns is-vcentered">
      <div class="column is-12 is-10-fullhd is-offset-1-fullhd">
        <div class="is-size-5">
            <section class="wrapper style5">
                <div class="">
                    <br>
                    <div class="hello"><i class="fa fa-university"></i> 리피의 아일랜드 가입 </div>
                    <div class="is-size-6" style="line-height: 1.4">
                      <br/>
                      <p style="line-height: 1.4">
                        <h2><i class="fa fa-graduation-cap"></i> 가입에 관한 세부내용 </h2>
                        <br/>
                        <i class="fa fa-caret-right"></i> 리피회원이 되시는 방법은 소정의 심층상담비용을 입금하신후 여권사본을 하단의 메일로 보내주셔야 합니다. 여권사본을 보내실때에는 주민번호 뒷자리는 가리고 보내주셔도 됩니다.<br />
                        <i class="fa fa-caret-right"></i> 이 비용외에 학생이 추가로 부담하는 비용은 전혀 없습니다. 가장 저렴한 어학연수 등록을 보장해 드립니다.<br />
                        <i class="fa fa-caret-right"></i> 심층상담비용은 3만원 입니다. 어학연수 준비부터 끝까지 모든 부분을 케어해 드립니다.<br />
                        <i class="fa fa-caret-right"></i> 884-23865-267-01 시티은행 임진선<br />
                        <i class="fa fa-caret-right"></i> liffeydublin[@]naver[.]com <br />
                        <i class="fa fa-caret-right"></i> 입금이 확인되면, 메일로 심층상담 일정을 잡아서 연락드립니다.<br />
                      </p>
                    </div>
                </div>
            </section>
        </div>
      </div>
     <!--  <div class="column is-6">
        <div class="section-media"> 
          <p> <small>Join our Storytelling School for Families.</small> </p>
        </div>
      </div> -->
    </div>
  </div>
</section>




</main>