 
<main class="app-content">

<section class="hero section is-hero is-danger">
  <div class="container">
    <div class="columns is-vcentered">
      <div class="column is-6 is-5-fullhd is-offset-1-fullhd">
        <div class="section-header">
          <h2 class="title is-2 is-spaced">Join<span
                                        class="spacer is-horizontal is-05"></span>
          </h2>
          <h2 class="subtitle is-4"> Join world's first Storytelling School for Families! Learn
            everything about stories and how to tell them. For free in our app! </h2>
          <div class="field is-grouped">
            <div class="control"> <a class="button is-white is-medium"
                                            href="https://getbedtimestories.com/school">🎓 Explore our courses</a>
            </div>
          </div>
        </div>
      </div>
      <div class="column is-6">
        <div class="section-media"> <img class="full-width" role="presentation"
                                    src="./Bedtime Stories - Exciting Tales for Young &amp; Old – Bedtime Stories_files/school-933bc224.svg">
          <p> <small>Join our Storytelling School for Families.</small> </p>
        </div>
      </div>
    </div>
  </div>
</section>


<section class="hero section is-hero">
  <div class="container">
    <div class="columns is-vcentered">
      <div class="column is-6 is-5-fullhd is-offset-1-fullhd">
        <div class="section-header">
          <h2 class="title is-2 is-spaced">가입절차<span
                                        class="spacer is-horizontal is-05"></span>
          </h2>
          <h2 class="subtitle is-4"> Join world's first Storytelling School for Families! Learn
            everything about stories and how to tell them. For free in our app! </h2>
          <div class="field is-grouped">
            <div class="control"> <a class="button is-white is-medium"
                                            href="https://getbedtimestories.com/school">🎓 Explore our courses</a>
            </div>
          </div>
        </div>
      </div>
      <div class="column is-6">
        <div class="section-media"> 
          <p> <small>Join our Storytelling School for Families.</small> </p>
        </div>
      </div>
    </div>
  </div>
</section>




</main>