<main class="app-content">
    <div class="is-gapless">
        <div class="">
            <section class="hero section is-hero is-warning">
                <div class="columns is-vcentered">
                    <div class="column is-12 is-5-fullhd is-offset-1-fullhd">
                        <div class="section-header">
                            <p class="has-text-black">📌<b> 연수/워홀 성공을 위한 조언들을 보실수 있습니다. 궁금한점을 공개 상담하실수 있습니다.</b></p>
                        </div>
                    </div>
                </div>
            </section>
        </div>
    </div>
    <div class="is-gapless">
        <div class="container">
            <div style="padding-top: 2em"></div>
            <section class="hero">
                <div class="hero-body">
                    <div class="columns is-desktop border">
                        <div class="column is-half is-offset-one-quarter border">
                            <div class="reset-table">
                                <table class="post-detail-table">
                                    <thead>
                                        <tr>
                                            <th callspan="2">아일랜드 어학연수에서 당신이 실패하는 이유</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <td>info@gmail.com</td>
                                            <td>2011-11-11 12:22</td>
                                        </tr>
                                        <tr>
                                            <td colspan="2">(홍콩=연합뉴스) 안승섭 특파원 = 홍콩의 민주화 요구 시위가 6개월째 접어든 가운데 홍콩 범민주 진영이 24일 치러진 구의원 선거에서 압승을 거뒀다.
25일 홍콩 사우스차이나모닝포스트(SCMP) 등에 따르면 홍콩 범민주 진영은 전날 치러진 구의원 선거에서 전체 452석 가운데 오전 5시 54분(현지시각) 현재 개표 결과 무려 201석을 차지했다.
친중파 진영은 고작 28석에 그쳤으며, 중도파가 12석을 차지했다. 나머지 211석은 결과를 기다리고 있다.
이에 따라 범민주 진영은 홍콩 구의원 선거에서 사상 최초 과반 의석을 눈앞에 두고 있다.</td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                            
                        </div>
                    </div>
                </div>
            </section>
        </div>
        <div class="">
            <section class="hero section is-hero is-paddingless is-marginless is-halfheight is-warning">
                <!-- something -->
            </section>
        </div>
    </div>
</main>
