<main class="app-content">
    <div class="is-gapless">
        <div class="">
            <section class="hero section is-hero is-warning">
                <div class="columns is-vcentered">
                    <div class="column is-12 is-5-fullhd is-offset-1-fullhd">
                        <div class="section-header">
                            <p class="has-text-black">📌<b> 연수/워홀 성공을 위한 조언들을 보실수 있습니다. 궁금한점을 공개 상담하실수 있습니다.</b></p>
                        </div>
                    </div>
                </div>
            </section>
        </div>
    </div>
    <div class="is-gapless">
        <div class="container">
            <div style="padding-top: 2em"></div>
            <section class="hero">
                <div class="hero-body">
                    <div class="columns is-desktop border">
                        <div class="column is-half is-offset-one-quarter border">
                            <div class="reset-table">
                                <table class="post-table">
                                    <thead>
                                        <tr>
                                            <th></th>
                                            <th></th>
                                            <th></th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <td>📍</td>
                                            <td>아일랜드 어학연수에서 당신이 실패하는 이유</td>
                                            <td>😀 2</td>
                                        </tr>
                                        <tr>
                                            <td></td>
                                            <td>아일랜드 어학연수에서 당신이 성공하는 이유</td>
                                            <td>23</td>
                                        </tr>
                                        <tr>
                                            <td></td>
                                            <td>아일랜드 어학연수에서 잘 사는 법</td>
                                            <td>23</td>
                                        </tr>
                                        <tr>
                                            <td></td>
                                            <td>아일랜드 어학연수에서 집구하는 법</td>
                                            <td>23</td>
                                        </tr>
                                        <tr>
                                            <td></td>
                                            <td>38</td>
                                            <td>23</td>
                                        </tr>
                                        <tr>
                                            <td></td>
                                            <td>38</td>
                                            <td>23</td>
                                        </tr>
                                        <tr>
                                            <td></td>
                                            <td>38</td>
                                            <td>23</td>
                                        </tr>
                                        <tr>
                                            <td></td>
                                            <td>38</td>
                                            <td>23</td>
                                        </tr>
                                        <tr>
                                            <td></td>
                                            <td>38</td>
                                            <td>23</td>
                                        </tr>
                                        <tr>
                                            <td></td>
                                            <td>38</td>
                                            <td>23</td>
                                        </tr>
                                        <tr>
                                            <td></td>
                                            <td>38</td>
                                            <td>23</td>
                                        </tr>
                                        <tr>
                                            <td></td>
                                            <td>38</td>
                                            <td>23</td>
                                        </tr>
                                        <tr>
                                            <td></td>
                                            <td>38</td>
                                            <td>23</td>
                                        </tr>
                                        <tr>
                                            <td></td>
                                            <td>38</td>
                                            <td>23</td>
                                        </tr>
                                        <tr>
                                            <td></td>
                                            <td>38</td>
                                            <td>23</td>
                                        </tr>
                                        <tr>
                                            <td></td>
                                            <td>38</td>
                                            <td>23</td>
                                        </tr>
                                        
                                    </tbody>
                                </table>
                            </div>
                            
                        </div>
                    </div>
                </div>
            </section>


        </div>
        <div class="">
            <section class="hero section is-hero is-paddingless is-marginless is-halfheight is-warning">
                <!-- something -->
            </section>
        </div>
    </div>
</main>
