<main class="app-content">

  <section class="hero section is-hero">
    <div class="container">
      <div class="columns is-vcentered">
        <div class="column is-12 is-8-fullhd is-offset-1-fullhd">
          <div class="section-header">
            <div style="padding-top: 2em"></div>
            <h1 class="title is-spaced">μ•„μΌλλ“ μ–΄ν•™μ—°μ<span class="is-hidden-touch"><br>
              </span>
              μ ν•™μ› μ—†μ΄ νΌμμ„ ν•  μ μμµλ‹λ‹¤.</h1>
            <h2 class="subtitle is-12 has-text-grey-darker"> λ¦¬ν”Όμ μ•„μΌλλ“λ” ν„μ§€-λ΅μ»¬Based κ°μΈλ§μ¶¤ μ•„μΌλλ“ μ–΄ν•™μ—°μ λ€ν–‰μ„λΉ„μ¤ μ…λ‹λ‹¤. μ ν•™μ›μ—†μ΄ νΌμμ„ μ–΄ν•™μ—°μλ¥Ό μ§„ν–‰ν•κ³  μ‹¶μ€ λ¶„λ“¤κ³Ό νμ›μ λ΅ μ΄μλκ³  μμµλ‹λ‹¤. κ³µν•­ν”½μ—… | μ‹ν‹°ν¬μ–΄ | ν•μ‹νν‹° | μ΄μ‚¬μ§ μ®κ²¨μ£ΌκΈ° κ°™μ€ μμ–΄μ™€ ν° κ΄€λ ¨μ΄ μ—†κ±°λ‚, μ—­ν¨κ³Όλ¥Ό κ°–λ” κ²ƒλ“¤μ€ ν•΄λ“λ¦¬μ§€ μ•μµλ‹λ‹¤.
ν•μ§€λ§ μ–΄λ λ°©λ²•λ³΄λ‹¤ λ” μ €λ ΄ν• λ“±λ΅μ„ λ³΄μ¥ν•΄ λ“λ¦¬λ©°, μƒλ‹΄μμ μƒν™©μ— κ°€μ¥ μ•λ§λ” μ„ νƒμ„ ν• μμλ„λ΅ λ„μ™€λ“λ¦½λ‹λ‹¤.</h2>
            <div class="field is-grouped">
              <div class="control">
                <%= link_to 'π‡¨π‡® λ¬΄λ£λ©”μΌ μƒλ‹΄μ‹ μ²­ν•κΈ°', introduction_consulting_path, :class => "button is-primary" %>
            </div>
          </div>
        </div>
        <div class="column is-6">
        </div>
      </div>
    </div>
  </div>
  </section>

   <section class="hero section is-hero is-primary">
      <div class="container">
        <div class="columns is-vcentered">
          <div class="column is-12 is-6-fullhd is-offset-1-fullhd">
            <div class="section-header">
              <div style="padding-top: 2em"></div>
              <h2 class="title is-2 is-spaced">π’Ό π›« <span
                                        class="spacer is-horizontal is-05"></span>
              </h2>
              <h2 class="subtitle is-6">μ–΄ν•™μ›λ§ κ²°μ •ν•κ³  κ°€λ©΄ μ–΄ν•™μ—°μκ°€ μ„±κ³µν• κ±° κ°™λ‚μ”? μ•„λ¬΄λ‚ ν•λ²μ”© λ‹¤λ…€μ¤λ” μ–΄ν•™μ—°μ | κ°”λ‹¤μ™€λ„ μμ–΄ ν•λ§λ”” μ λ€λ΅ λ»ν•λ” μ–΄ν•™μ—°μ | μ΄λ° ν›„νλΏμΈ μ–΄ν•™μ—°μλ¥Ό ν•κ³  μ‹¶μΌμ‹ κ°€μ”? λ¦¬ν”Όμ μ•„μΌλλ“λ” νΌμνμΌλ΅ μ„±κ³µμ μΈ μ–΄ν•™μ—°μλ¥Ό ν• μμλ„λ΅ λ§λ“¤μ–΄ μ΅μµλ‹λ‹¤.</h2>
              <div style="padding-top: 2em"></div>
              <div style="padding-top: 2em"></div>

            </div>
          </div>
          
        </div>
      </div>
    </section>



     <section class="section is-storybuilder is-medium">
      <div class="container">
        <div class="columns is-centered">
          <div class="column is-12 is-10-fullhd">
            <div class="columns is-vcentered">
              <div class="column is-8">
                <div class="section-header">
                <h2 class="title is-3 is-spaced"> μ¤μ¤λ΅ μ„ νƒν•λ” μμ , νΌμ ν•  μμλ” μμ‹ κ° </h2>

                  <h3 class="subtitle is-5"> μ•„μΌλλ“ μ „μ—­μ λ¨λ“  μ–΄ν•™μ›μ λ“±λ΅μ΄ κ°€λ¥ν•©λ‹λ‹¤. <span class="has-highlight">μ§μ ‘ μ—°κ³„λ΅ κ°€μ¥ μ €λ ΄ν• κ°€κ²©μ„ μ κ³µν•©λ‹λ‹¤. </span>μ ν•™μ›μΌλ΅ μƒλ‹΄ λ°›μ•„λ³΄μ…¨λ‹¤λ©΄ κ°€κ²©μ„ ν•¨κ» μƒλ‹΄μ‹ μ•λ ¤μ£Όμ„Έμ”. νΉμ„±λ³„/λ©μ λ³„/μ§€μ—­λ³„λ΅ λ‚λ‰λ” λ‹¤μ–‘ν• μ–΄ν•™μ›μ μ„ νƒμ΄ μμ§€λ§,
μμ‹ μ μƒν™©μ— λ§λ” μ–΄ν•™μ›μ„ κ³ λ¥Όμ μμ–΄μ•Ό ν›„νν•μ§€ μ•μµλ‹λ‹¤. </h3>
                  <h3 class="subtitle is-5"> μ–΄ν•™μ›λ³΄λ‹¤ μ¤‘μ”ν•κ²ƒμ€ λ‹Ήμ‹ μ μ•„μΌλλ“ ν„μ§€μ—μ„μ μƒν™μ…λ‹λ‹¤.
μμ–΄λ” μ–΄ν•™μ›λ§ λ‹¤λ‹λ‹¤κ³  μ λ€ λμ§€ μ•μµλ‹λ‹¤.
μλ…„κ°„μ ν„μ§€ κ²½ν—μ„ ν†µν•΄, λ‹Ήμ‹ μ μƒν™©μ—μ„ κ°€μ¥ μ ν•©ν• μ—°μλ°©λ²•μ„ μ΅°μ–Έλ“λ¦½λ‹λ‹¤.
ν„μ§€λ―Έν…μ„ ν†µν•΄μ„ λ‹Ήμ‹  μ–΄ν•™μ—°μμ λ‚μΉ¨λ°μ΄ λμ–΄λ“λ¦½λ‹λ‹¤. </h3>
                  <h3 class="subtitle is-5">λ‚΄κ°€ μ£ΌμΈκ³µμ΄ λμ–΄, νΌμ λ§λ“¤μ–΄ κ°€λ” μ–΄ν•™μ—°μ.
λ¦¬ν”Όμ μ•„μΌλλ“κ°€ λ„μ™€λ“λ¦½λ‹λ‹¤.</h3>
                  <hr class="spacer is-2">
                </div>
              </div>
              <div class="column is-4">
                <div class="section-media">
                  <div class="storybuilder">
                    <div class="story-item">
                      <div class="story-body">
                        <div class="story-caption">κ°μΈμ ν™κ²½κ³Ό λ°°κ²½μ— λ§λ” λ§μ¶¤ν• μƒλ‹΄</div>
                        <div class="story-subject">μ‹¬μΈµμƒλ‹΄ </div>
                      </div>
                      <div class="story-icon">
                      </div>
                    </div>
                    <div class="story-item">
                      <div class="story-body">
                        <div class="story-caption">νΉλ³„ ν• μΈκ°€κ²©μΌλ΅ μ–΄ν•™μ› μ…ν•™ μ§„ν–‰</div>
                        <div class="story-subject">μΈλ³΄μ΄μ¤ λ°κΈ‰ </div>
                      </div>
                      <div class="story-icon">
                      </div>
                    </div>
                    <div class="story-item">
                      <div class="story-body">
                        <div class="story-caption">κ°„νΈν•κ² μ§„ν–‰κ°€λ¥ν• ν•΄μ™Έ μ†΅κΈ </div>
                        <div class="story-subject">ν•΄μ™Έ μ†΅κΈ </div>
                      </div>
                      <div class="story-icon">
                      </div>
                    </div>
                    <div class="story-item">
                      <div class="story-body">
                        <div class="story-caption">μ†΅κΈν™•μΈν›„ μ¤μΏ¨λ ν„° λ°κΈ‰ λ° μ¶κµ­μ¤€λΉ„</div>
                        <div class="story-subject">μ¤μΏ¨ λ ν„°</div>
                      </div>
                      <div class="story-icon">
                      </div>
                    </div>
                    <div class="story-item">
                      <div class="story-body">
                        <div class="story-caption">ν„μ§€ μ΄κΈ°μ μ‘μ„ μ„ν• ν„μ§€λ―Έν… λ° μ΅°μ–Έ </div>
                        <div class="story-subject">ν„μ§€ λ―Έν… </div>
                      </div>
                      <div class="story-icon">
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>



  <section class="section is-platform is-medium" id="platform">
    <div class="container">
      <div class="columns is-centered">
        <div class="column is-12 is-10-fullhd">
          <div class="columns is-vcentered">
            <div class="column is-8">
              <div class="section-header">
                <h2 class="title is-2 is-spaced"> λ‹Ήμ‹ μ΄ κ°€μ§€κ³  μλ” ν™κ²½μ— κ°€μ¥ μ ν•©ν• μ—°μλ¥Ό ν”λν•΄ λ“λ¦½λ‹λ‹¤. </h2>
                <p class="subtitle is-4">'λ‚ νΌμλ„ λ„μ „ν• μ μμ„κΊΌ κ°™μ€λ°, κΌ­ μ ν•™μ› ν†µν•΄μ•Ό ν• κΉ?' κ³ λ―Όν• μ μ€ μ—†λ‚μ”? </p>
                <hr class="spacer is-2">
              </div>

              <div class="section-body">
                <div class="vertical-tabs">
                  <div class="tab is-active">
                    <h3 class="title is-4">ν„μ§€μ μµμ‹ μ •λ³΄λ΅ μ •ν™•ν• μƒλ‹΄</h3>
                    <p class="subtitle"> μ•„μΌλλ“ ν„μ§€9λ…„ μ΄μƒμ μƒν™κ²½ν—κ³Ό, ν„μ¬μ μ•„μΌλλ“μ μµμ‹ μ μ–΄ν•™μ› μ •λ³΄λ“¤λ΅, μ†μ νμ›λ“¤κ³Όλ§ μ—°κ³„ν•κ³  μμµλ‹λ‹¤.
                    </p>
                  </div>

                  <div class="tab is-active">
                    <h3 class="title is-4">μ΄κΈ°μ™μ† μ„ μ •μ λ‹¤μ–‘ν• μµμ…</h3>
                    <p class="subtitle"> ν™μ¤ν…μ΄ / νΈμ¤ν…” / μ¤νλ“ νΈ μ–΄μ½”λ¨λ°μ΄μ… / Air BnB λ“± μ—¬λ¬κ°€μ§€μ μµμ…μ¤‘ μƒλ‹΄μμ—κ² μλ―Έμλ” λ°©λ²•μ„ μ μ•ν•κ³  λ„μ™€λ“λ¦½λ‹λ‹¤.
                    </p>
                  </div>

                  <div class="tab is-active">
                    <h3 class="title is-4">μ¤μ¤λ΅ ν•λ‚μ”© μ„±μ·¨ν•λ” μ–΄ν•™μ—°μ</h3>
                    <p class="subtitle"> ν•λ‚μ”© μ΄λ¤„λ‚κ°λ• μƒκΈ°λ” μ‘μ€ μ„±κ³µμ κ²½ν—λ“¤μ΄ λ‹Ήμ‹ μ μ–΄ν•™μ—°μλ¥Ό λ§λ“­λ‹λ‹¤. νΌμμ„ ν• μμλ„λ΅ μµμ†ν•μ μ—­ν• μ„ ν•΄λ“λ¦½λ‹λ‹¤.
                    </p>
                  </div>

                  <div class="tab is-active">
                    <h3 class="title is-4">μ—°μμ„±κ³µμ„ μ„ν• ν„μ§€λ―Έν…κ³Ό μΌ€μ–΄</h3>
                    <p class="subtitle"> μ…κµ­κ³Ό ν•¨κ» ν„μ§€μ—μ„ μ μ‘μ„ μ„ν• ν„μ§€λ―Έν…μ„ μ§„ν–‰ν•κ³ , μ΄ν›„ ν„μ§€μ—μ„ μΌμ–΄λ‚ μ μλ” λ¬Έμ λ“¤μ„ μ§μ ‘ μΌ€μ–΄ν•΄ λ“λ¦¬κ³  μμµλ‹λ‹¤.
                    </p>
                  </div>


                </div>
                
              </div>
            </div>
            <div style="padding-top: 2em"></div>
            </div>
          </div>
        </div>
      </div>
    </section>


</main>
