<div class="container is-fullhd">
  <section class="hero is-fullheight">
    <div class="hero-body">
      <div class="container">
        <div class="column is-half is-offset-one-quarter">
          <h2 class="title">혼자서 어학연수 - 리피의 아일랜드</h2>
        </div>
      </div>
    </div>
  </section>
</div>