<h1>Editing Course</h1>

<%= render 'form', course: @course %>

<%= link_to 'Show', @course %> |
<%= link_to 'Back', courses_path %>
<%= link_to 'Destroy', @course, method: :delete, data: { confirm: 'Are you sure?' } %></b>
