/*@import url("https://cdn.jsdelivr.net/gh/moonspam/NanumBarunGothic@1.0/nanumbarungothicsubset.css");*/
@import url("https://cdn.jsdelivr.net/gh/moonspam/NanumSquare@1.0/nanumsquare.css");

/*@font-face {
  font-family: "GTEestiDisplay";
  src: url("GTEestiDisplay-Regular.ttf")
      format("truetype"),
    url("GTEestiDisplay-Regular.woff2")
      format("woff2"),
    url("GTEestiDisplay-Regular.woff")
      format("woff");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "GTEestiDisplay";
  src: url("GTEestiDisplay-Medium.ttf")
      format("truetype"),
    url("GTEestiDisplay-Medium.woff2")
      format("woff2"),
    url("GTEestiDisplay-Medium.woff")
      format("woff");
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: "Feather";
  src: url("Feather.woff")
      format("woff"),
    url("Feather.ttf")
      format("truetype");
  font-weight: normal;
  font-style: normal;
}*/
/*
 * Namsan font
 */
@font-face {
    font-family: 'seoul-namsan-jung-m';
    src: asset_url('seoulnamsanjungm.eot');
    src: asset_url('seoulnamsanjungm.eot?#iefix') format('embedded-opentype'),
         asset_url('seoulnamsanjungm.woff2') format('woff2'),
         asset_url('seoulnamsanjungm.woff') format('woff'),
         asset_url('seoulnamsanjungm.ttf') format('truetype'),
         asset_url('seoulnamsanjungm.svg#seoul-namsan-jung-m') format('svg');
    font-weight: normal;
    font-style: normal;
}
/*
 * Kakao
 */
@font-face {
    font-family: 'Kakao';
    font-style: normal;
    font-weight: 400;
    src: local('Kakao Regular'), local('KakaoOTF Regular'),
    asset_url(KakaoOTF-bRg.eot) format('eot'),
    asset_url(KakaoOTF-bRg.woff2) format('woff2'),
    asset_url(KakaoOTF-bRg.woff) format('woff'),
    asset_url(KakaoOTF-bRg.otf) format('opentype');
}
@font-face {
    font-family: 'Kakao';
    font-style: normal;
    font-weight: 200;
    src: local('Kakao Light'), local('KakaoOTF Light'),
    asset_url(KakaoOTF-aLt.eot) format('eot'),
    asset_url(KakaoOTF-aLt.woff2) format('woff2'),
    asset_url(KakaoOTF-aLt.woff) format('woff'),
    asset_url(KakaoOTF-aLt.otf) format('opentype');
}
@font-face {
    font-family: 'Kakao';
    font-style: normal;
    font-weight: 700;
    src: local('Kakao Bold'), local('KakaoOTF Bold'),
    asset_url(KakaoOTF-cBd.eot) format('eot'),
    asset_url(KakaoOTF-cBd.woff2) format('woff2'),
    asset_url(KakaoOTF-cBd.woff) format('woff'),
    asset_url(KakaoOTF-cBd.otf) format('opentype');
}



/* icon */
@font-face {
  font-family: 'Icons';
  src: asset_url("icons.eot");
  src: asset_url("icons.eot?#iefix") format('embedded-opentype'), asset_url("icons.woff2") format('woff2'), asset_url("icons.woff") format('woff'), asset_url("icons.ttf") format('truetype'), asset_url("icons.svg#icons") format('svg');
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-decoration: inherit;
  text-transform: none;
}
